@model IEnumerable<UserRoles.Models.Location>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hallName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.maxCapacity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hallName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maxCapacity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.locationID }) |
                @Html.ActionLink("Details", "Details", new { id = item.locationID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.locationID })
            </td>
        </tr>
    }

</table>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />