@using PagedList;
@using PagedList.Mvc;
@model IPagedList<UserRoles.Models.Order>

@{
    ViewBag.Title = "CusOngoing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />

<h2>Ongoing Orders</h2>

<form asp-controller="Order" asp-action="CusOngoing">


    <p>You may search by Order ID</p>
    <input type="text" name="SearchString" />
    <input type="submit" value="Filter" />



</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().PaymentType)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.First().CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().CustomerPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentType)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.OrderID }) |*@
                @Html.ActionLink("Details", "Cusdetails", new { id = item.OrderID }) |
                @*@Html.ActionLink("Delete", "Delete", new { id = item.OrderID })*@
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("CusOngoing", new { page, searchString = Request.QueryString["searchString"], search = Request.QueryString["search"] }),
  new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, DisplayItemSliceAndTotal = true })
